.snare-track {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.snare-note {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    cursor: pointer;
  }
  
  .snare-red {
    background-color: red;
  }
  
  .snare-green {
    background-color: green;
  }